.listitem {
  transition: background-color 0.2s ease;
  border-top: solid 1px #ffc6ae;
  border-bottom: solid 1px #ffc6ae;
  margin-bottom: .25em;
  &:hover {
    background-color: #ffc6ae;
    cursor: pointer;
  }
  h4 {
    margin: 0;
  }
  a {
    padding: 0.5em;
    display: block;
    text-decoration: inherit;
    color: inherit;
  }
}